/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента
@import '../sass/base/fonts';
@import '../sass/base/common';
@import '../sass/section-method';
