<section class="container">
  <footer>
    <div class="footer-main">
      <p class="footer-subtitle">
        Регистрация на
        <span class="footer-orange-subtitle"> бесплатную </span>телефонную
        <span class="footer-orange-subtitle"> консультацию </span> по нюансам
        ЗНО по английскому языку
      </p>
      <p class="footer-text">
        Оставь заявку на участие в
        <span class="orang-footer-text">бесплатном занятии.</span>
        С вами свяжется консультант и ответит на вопросы
      </p>
      <form class="footer-form">
        <input
          type="text"
          name="name"
          class="form"
          placeholder="Имя*"
          autocomplete="off"
        />
        <input
          type="tel"
          name="tel"
          class="form"
          placeholder="Телефон*"
          autocomplete="off"
        />
      </form>
      <button class="footer-button">хочу на бесплатное занятие</button>
    </div>
    <div class="footer-inform">
      <img class="footer-logo" src="../images/svg/logo-black.svg" alt="" />
      <div class="logo">
        <p class="text-main-logo">
          Hell
          <img class="svg-fire" src="../images/svg/fire.svg" alt="" />EN
        </p>
        <p class="text-un-logo">
          <span style="color: #ff6b09">адский</span> английский
        </p>
      </div>
      <div class="tel-inst-footer">
        <div class="footer-adress">
          <img class="svg-tel" src="../images/svg/phone.svg" alt="" />
          <p class="footer-tel">+38 (000) 000 00 00</p>
        </div>
        <a href="">
          <img
            class="svg-footer-inst"
            src="../images/svg/instagram.svg"
            alt=""
          />
        </a>
      </div>
    </div>
    <!-- <div>Hell EN Адский английский</div> -->
    <div class="footer-black container">@ Все права защищены, 2019</div>
  </footer>
</section>
