<header class="hero">
  <div class="hero-container">
    <nav class="hero-navi">
      <a href="#"
        ><img
          src="./images/svg/logo-black.svg"
          alt="Логотип"
          width="128px"
          height="45px"
      /></a>
      <div class="hero-menu">
        <ul class="hero-menu-list">
          <li class="hero-menu-item">
            <a href="" class="hero-menu-link">Программы обучения</a>
          </li>
          <li class="hero-menu-item">
            <a href="" class="hero-menu-link">О нас</a>
          </li>
          <li class="hero-menu-item">
            <a href="" class="hero-menu-link">Варианты обучения</a>
          </li>
          <li class="hero-menu-item">
            <a href="" class="hero-menu-link">Контакты</a>
          </li>
        </ul>
        <a href="" class="hero-menu-cons">Консультация по телефону</a>
        <button class="hero-button-menu">
          <img src="./images/svg/menu.svg" width="26" height="26" alt="" />
        </button>
      </div>
    </nav>
    <section class="hero-bg">
      <div class="hero-title">
        <h1>
          Комплексная<br />
          <nobr>подготовка к ВНО</nobr><br />
          по английскому<br />
          языку
        </h1>
        <p class="hero-descript">
          <span class="descript">Просто не будет.</span><br />Но ты
          гарантировано наберешь<span class="descript-orange"> +25 баллов</span>
        </p>
        <a href="" class="hero-bg-link">Хочу на бесплатное занятие</a>
      </div>
      <img
        class="hero-img"
        src="./images/header/desktop/hero-bg.png"
        alt="Картинка героя"
      />
    </section>
    <section>
      <ul class="hero-program">
        <li class="hero-program-item item-1">
          <h3 class="hero-program-title">Современные методики обучения</h3>
        </li>
        <li class="hero-program-item item-2">
          <h3 class="hero-program-title">
            Адаптированная авторская программа ВНО
          </h3>
        </li>
        <li class="hero-program-item item-3">
          <h3 class="hero-program-title">Финансовая гарантия результата</h3>
        </li>
      </ul>
    </section>
  </div>
</header>
