<header class="hero">
  <div class="hero-container">
    <nav class="hero-navi">
      <a href="#"
        ><img
          src="./images/svg/logo-black.svg"
          alt="Логотип"
          width="128px"
          height="45px"
      /></a>
      <div class="hero-menu">
        <ul class="hero-menu-list">
          <li class="hero-menu-item">
            <a href="" class="hero-menu-link">Программы обучения</a>
          </li>
          <li class="hero-menu-item">
            <a href="" class="hero-menu-link">О нас</a>
          </li>
          <li class="hero-menu-item">
            <a href="" class="hero-menu-link">Варианты обучения</a>
          </li>
          <li class="hero-menu-item">
            <a href="" class="hero-menu-link">Контакты</a>
          </li>
        </ul>
        <a href="" class="hero-menu-cons">Консультация по телефону</a>
        <button class="hero-button-menu">
          <img src="./images/svg/menu.svg" width="26" height="26" alt="" />
        </button>
      </div>
    </nav>
    <section class="hero-bg">
      <div class="hero-title">
        <h1 class="slogan">
          Комплексная<br />
          <nobr>подготовка к ВНО</nobr><br />
          по английскому<br />
          языку
        </h1>
        <p class="hero-descript">
          <span class="descript">Просто не будет.</span><br />Но ты
          гарантировано наберешь<span class="descript-orange"> +25 баллов</span>
        </p>
        <a href="" class="hero-bg-link">Хочу на бесплатное занятие</a>
      </div>
      <picture class="hero-img">
        <source
          srcset="
            ./images/header/desktop/hero-bg.png    1x,
            ./images/header/desktop/hero-bg@2x.png 2x
          "
          media="(min-width: 1280px)"
          type="image/png"
        />
        <source
          srcset="
            ./images/header/tablet/hero-bg.png    1x,
            ./images/header/tablet/hero-bg@2x.png 2x
          "
          media="(min-width: 768px)"
          type="image/png"
        />
        <source
          srcset="
            ./images/header/mobile/hero-bg.png    1x,
            ./images/header/mobile/hero-bg@2x.png 2x
          "
          media="(max-width: 767px)"
          type="image/png"
        />
        <img
          src="./images/header/desktop/hero-bg.png"
          alt="Фото преподавателя"
        />
      </picture>
    </section>
    <section>
      <ul class="hero-program">
        <li class="hero-program-item">
          <img
            class="hero-program-img"
            src="./images/svg/female-student-bord.svg"
            alt=""
          />
          <h3 class="hero-program-title">
            Адаптированная авторская программа ВНО
          </h3>
        </li>
        <li class="hero-program-item">
          <img
            class="hero-program-img"
            src="./images/svg/mobile-learning-bord.svg"
            alt=""
          />
          <h3 class="hero-program-title">Современные методики обучения</h3>
        </li>
        <li class="hero-program-item">
          <img
            class="hero-program-img"
            src="./images/svg/umbrella-bord.svg"
            alt=""
          />
          <h3 class="hero-program-title">Финансовая гарантия результата</h3>
        </li>
      </ul>
    </section>
  </div>
</header>
