<header class="hero">
  <div>
    <nav>
      <a href="#"
        ><img
          src="./images/svg/logo-black.svg"
          alt="Логотип"
          width="128px"
          height="45px"
      /></a>
      <div>
        <ul>
          <li>Программы обучения</li>
          <li>О нас</li>
          <li>Варианты обучения</li>
          <li>Контакты</li>
        </ul>
        <a href="">Консультация по телефону</a>
        <button>
          <!-- <svg class="" width="26" height="26" aria-label="Переключатель мобильного меню"><use href="./images/svg/sprite.svg#menu"></svg> -->
          <img src="./images/svg/menu.svg" width="26" height="26" alt="" />
        </button>
      </div>
    </nav>
    <section>
      <div>
        <h1>Комплексная подготовка к ВНО по английскому языку</h1>
        <p>
          <span>Просто не будет.</span><br />Но ты гарантировано наберешь<br /><span
            >+25 баллов</span
          >
        </p>
        <a href="">Хочу на бесплатное занятие</a>
      </div>
      <img
        src="./images/header/desktop/hero-bg.png"
        alt="Картинка героя"
        width="375"
      />
    </section>
    <section>
      <ul>
        <li>Адаптированная авторская программа ВНО</li>
        <li>Современные методики обучения</li>
        <li>Финансовая гарантия результата</li>
      </ul>
    </section>
  </div>
</header>
