<section class="section-reviews">
  <h1 class="reviews-title">Отзывы выпускников</h1>
  <div class="reviews-container">
    <div class="photo-vk">
      <picture class="photo-student">
        <source
          srcset="
            ./images/reviews/desktop/tonya.png    1x,
            ./images/reviews/desktop/tonya@2x.png
          "
          media="(min-width:768px"
        />
        <source
          srcset="
            ./images/reviews/mobile/tonya.png    1x,
            ./images/reviews/mobile/tonya@2x.png 2x
          "
          media="(min-width:320px"
        />
        <img src="./images/reviews/desktop/tonya.png" alt="" />
      </picture>
      <a class="link-vk" href=""
        ><img class="img vk-svg" src="./images/svg/vk.svg" alt=""
      /></a>
    </div>
    <div>
      <h2 class="name-student">Тоня Кучеровская</h2>
      <p class="information-student">
        Выпуск 2015-го года, Національний університет біоресурсів і
        природокористування України
      </p>
      <p class="reviews-student">
        За короткий час занять з Оленою я опанувала граматику і поповнила свій
        зовсім пустий словниковий запас. З першого ж заняття я зрозуміла, що
        знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому що її
        справді хвилювала моя успішність. Вона стала для мене авторитетом, проте
        я не тремтіла на уроках, маючи страх зробити найменшу помилку. Зараз я
        можу похизуватись тим, що я студен ...
        <a class="link-reviews" href="">Читать дальше</a>
      </p>
    </div>
  </div>
  <div class="arrow">
    <button class="left-arrow">
      <img src="./images/svg/arrow-left.svg" alt="" />
    </button>
    <button class="right-arrow">
      <img src="./images/svg/arrow-right.svg" alt="" />
    </button>
  </div>
  <div class="section-list-student">
    <ul class="list-student">
      <li>
        <picture>
          <source
            srcset="
              ./images/reviews/desktop/person-1.png    1x,
              ./images/reviews/desktop/person-1@2x.png 2x
            "
          />
          <img src="./images/reviews/desktop/person-1.png" alt="" />
        </picture>
      </li>
      <li>
        <picture>
          <source
            srcset="
              ./images/reviews/desktop/person-2.png    1x,
              ./images/reviews/desktop/person-2@2x.png 2x
            "
          />
          <img src="./images/reviews/desktop/person-2.png" alt="" />
        </picture>
      </li>
      <li>
        <picture>
          <source
            srcset="
              ./images/reviews/desktop/person-3.png    1x,
              ./images/reviews/desktop/person-3@2x.png 2x
            "
          />
          <img src="./images/reviews/desktop/person-3.png" alt="" />
        </picture>
      </li>
    </ul>
    <ul class="list-student-tablet">
      <li>
        <picture>
          <source
            srcset="
              ./images/reviews/desktop/person-1.png    1x,
              ./images/reviews/desktop/person-1@2x.png 2x
            "
          />
          <img src="./images/reviews/desktop/person-1.png" alt="" />
        </picture>
      </li>
      <li>
        <picture>
          <source
            srcset="
              ./images/reviews/desktop/person-2.png    1x,
              ./images/reviews/desktop/person-2@2x.png 2x
            "
          />
          <img src="./images/reviews/desktop/person-2.png" alt="" />
        </picture>
      </li>
      <li>
        <picture>
          <source
            srcset="
              ./images/reviews/desktop/person-3.png    1x,
              ./images/reviews/desktop/person-3@2x.png 2x
            "
          />
          <img src="./images/reviews/desktop/person-3.png" alt="" />
        </picture>
      </li>
      <li>
        <picture>
          <source
            srcset="
              ./images/reviews/desktop/person-4.png    1x,
              ./images/reviews/desktop/person-4@2x.png 2x
            "
          />
          <img src="./images/reviews/desktop/person-4.png" alt="" />
        </picture>
      </li>
      <li>
        <picture>
          <source
            srcset="
              ./images/reviews/desktop/person-5.png    1x,
              ./images/reviews/desktop/person-5@2x.png 2x
            "
          />
          <img src="./images/reviews/desktop/person-5.png" alt="" />
        </picture>
      </li>
      <li>
        <picture>
          <source
            srcset="
              ./images/reviews/desktop/person-6.png    1x,
              ./images/reviews/desktop/person-6@2x.png 2x
            "
          />
          <img src="./images/reviews/desktop/person-6.png" alt="" />
        </picture>
      </li>
      <li>
        <picture>
          <source
            srcset="
              ./images/reviews/desktop/person-7.png    1x,
              ./images/reviews/desktop/person-7@2x.png 2x
            "
          />
          <img src="./images/reviews/desktop/person-7.png" alt="" />
        </picture>
      </li>
    </ul>
  </div>
</section>
