<section class="program" id="programm">
  <div class="program-box container">
    <h2 class="title">Наша программа</h2>
    <ul class="program-list">
      <li class="program-item">
        <h3 class="title">1 семестр</h3>
        <ul class="box">
          <li class="item">
            <p class="headline">Grammar</p>
            <p class="theme">
              <span class="theme-span">Nouns & Articles</span
              ><span class="theme-span">Adjectives & Adverb</span>
            </p>
          </li>
          <li class="item">
            <p class="headline">Vocabulary</p>
            <p class="theme">
              <span class="theme-span">People & Society</span>
              <span class="theme-span">Family & Relations</span>
            </p>
          </li>
        </ul>
      </li>
      <li class="program-item">
        <h3 class="title">2 семестр</h3>
        <ul class="box">
          <li class="item">
            <p class="headline">Grammar</p>
            <p class="theme">
              <span class="theme-span">Pronouns</span>
              <span class="theme-span">Active Voice</span>
              <span class="theme-span">Passive Voice</span>
            </p>
          </li>
          <li class="item">
            <p class="headline">Vocabulary</p>
            <p class="theme">
              <span class="theme-span">Home</span>
              <span class="theme-span">School</span>
              <span class="theme-span">Work</span>
            </p>
          </li>
        </ul>
      </li>
      <li class="program-item">
        <h3 class="title">3 семестр</h3>
        <ul class="box">
          <li class="item">
            <p class="headline">Grammar</p>
            <p class="theme">
              <span class="theme-span">Modal verbs</span>
              <span class="theme-span">Infinitive</span>
              <span class="theme-span">Gerund</span>
              <span class="theme-span">Participle: 1, 2</span>
            </p>
          </li>
          <li class="item">
            <p class="headline">Vocabulary</p>
            <p class="theme">
              <span class="theme-span">Travel & Tourism</span>
              <span class="theme-span">Culture & Free Time</span>
              <span class="theme-span">Sport</span>
            </p>
          </li>
          <li class="item">
            <p class="headline">Writing</p>
            <p class="theme">Informal Letter</p>
          </li>
        </ul>
      </li>
      <li class="program-item">
        <h3 class="title">4 семестр</h3>
        <ul class="box">
          <li class="item">
            <p class="headline">Grammar</p>
            <p class="theme">
              Clauses: Conditional and <br />
              Wishes<br />
              Direct / Reported speech Preposition<br />
              Conjunction <br />
              Numeral
            </p>
          </li>
          <li class="item">
            <p class="headline">Vocabulary</p>
            <p class="theme">
              <span class="theme-span">Healthy Living</span>
              <span class="theme-span">Nature & Environment</span>
              <span class="theme-span">Money</span>
            </p>
          </li>
          <li class="item">
            <p class="headline">Writing</p>
            <p class="theme">Formal Letter</p>
          </li>
        </ul>
      </li>
      <li class="program-item">
        <h3 class="title">5 семестр</h3>
        <ul class="box">
          <li class="item">
            <p class="headline">Test</p>
            <p class="theme">Revision<br />Tests</p>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="advantages container">
    <h2 class="title">Почему нас выбирают</h2>
    <ul class="advantages-list">
      <li class="item">
        <p class="number">01</p>
        <p class="reason">Обучение в малых командах</p>
      </li>
      <li class="item">
        <p class="number">02</p>
        <p class="reason">Визуализированные конспекты</p>
      </li>
      <li class="item">
        <p class="number">03</p>
        <p class="reason">Каждое занятие имеет цель и конкретный результат</p>
      </li>
      <li class="item">
        <p class="number">04</p>
        <p class="reason">Ревльные результаты преподавателя</p>
      </li>
      <li class="item">
        <p class="number">05</p>
        <p class="reason">
          Прогамма курса соответствует требованиям МОН Украины
        </p>
      </li>
      <li class="item">
        <p class="number">06</p>
        <p class="reason">Набор команд по уровням знаний</p>
      </li>
    </ul>
  </div>
</section>
