<section class="teacher" id="teacher">
  <div class="teacher-container container">
    <h2 class="teacher-title">Преподаватель</h2>
    <div class="teacher-box">
      <div class="teacher-box-photo">
        <picture>
          <source
            srcset="
              ./images/teacher/desktop/elena.jpg    1x,
              ./images/teacher/desktop/elena@2x.jpg 2x
            "
            media="(min-width: 1340px)"
          />
          <source
            srcset="
              ./images/teacher/tablet/elena.jpg    1x,
              ./images/teacher/tablet/elena@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/teacher/mobile/elena.jpg    1x,
              ./images/teacher/mobile/elena@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./images/teacher/desktop/elena.jpg"
            max-width="100%"
            height="auto"
            alt="Фото преподавателя"
            class="teacher-img"
          />
        </picture>
      </div>
      <div class="teacher-box-bio">
        <b class="teacher-name">Елена Морева</b>

        <ul class="teacher-skills-list list">
          <li class="teacher-skills-item">
            <img
              src="./images/svg/check-mark.svg"
              alt="Оранжевая галочка"
              class="icon-teacher-skills"
            />
            <p class="teacher-skills-text">
              Опыт подготовки учеников к ВНО - 6 лет
            </p>
          </li>
          <li class="teacher-skills-item">
            <img
              src="./images/svg/check-mark.svg"
              alt="Оранжевая галочка"
              class="icon-teacher-skills"
            />
            <p class="teacher-skills-text">
              Собственный результат сдачи ВНО - 197 баллов 2 года подряд
            </p>
          </li>
          <li class="teacher-skills-item last-item">
            <img
              src="./images/svg/check-mark.svg"
              alt="Оранжевая галочка"
              class="icon-teacher-skills"
            />
            <p class="teacher-skills-text last-text">
              Сдала на отлично международный аналог ВНО - Кембриджский PET
              (Preliminary English Test)
            </p>
          </li>
        </ul>
        <p class="teacher-bio">
          Высшее образование получила в Институте международных отношений НАУ по
          специальности переводчик-аналитик.
        </p>
        <p class="teacher-bio">
          В свободное время проходит курсы от лучших университетов мира по
          эффективному преподаванию и методикам написания сочинений.
        </p>
        <p class="teacher-bio last-bio">
          В числе пройденных: English Grammar and Essay Writing (Berkeley),
          English Grammar&Style (The University of Queesland), How to Write an
          Essay (Berkeley), Academic and Business Writing (Berkeley), The Art of
          Teaching (GEMS education), Powerful Tools for Teaching and Learning
          (University of Houston).
        </p>
        <a href="" class="teacher-certificate link"
          >Cambrige English Entry Level Certificate</a
        >
      </div>
    </div>
  </div>
</section>
