.hero {
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 0%;

  background-image: url(../images/header/mobile/vector-bg.png);

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url(../images/header/mobile/vector-bg@2x.png);
  }

  @media screen and (min-width: 768px) {
    & {
      background-image: url(../images/header/tablet/vector-bg.png);
    }
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/header/tablet/vector-bg@2x.png);
    }
  }

  @media screen and (min-width: 1340px) {
    & {
      background-image: url(../images/header/desktop/vector-bg.png);
    }
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/header/desktop/vector-bg@2x.png);
    }
  }
}

.hero-container {
  width: 1340px;
  margin-left: auto;
  margin-right: auto;
  padding: 33px 10px 130px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  line-height: 28px;
  color: #111518;
  @media screen and (min-width: 768px) and (max-width: 1339px) {
    width: 710px;
    padding: 40px 10px 50px;
  }
  @media screen and (max-width: 767px) {
    width: 300px;
    padding: 30px 10px 50px;
  }
}

.hero-navi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.hero-menu {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
}

.hero-menu-cons {
  display: block;
  border: 2px solid #ff6b09;
  width: 336px;
  text-align: center;
  line-height: 70px;
  color: #ff6b09;
  background-color: #fff;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 768px) and (max-width: 1339px) {
    margin-right: 101px;
    width: 260px;
    font-size: 12px;
    line-height: 48px;
  }
  @media screen and (max-width: 767px) {
    display: none;
  }
  &:hover,
  &:focus {
    background-color: #ff6b09;
    color: #fff;
  }
}

.hero-menu-item:not(:last-child) {
  margin-right: 40px;
}

@media (min-width: 768px) {
  .hero-menu {
    display: flex;
    align-items: center;
  }
}

.hero-button-menu {
  position: absolute;
  padding-left: 0;
  padding-right: 0;
  border: none;
  background-color: transparent;
  @media screen and (max-width: 767px) {
    top: 13px;
    right: 0px;
  }
  @media screen and (min-width: 768px) {
    top: 17px;
    right: 0px;
  }
}

@media (min-width: 1340px) {
  .hero-button-menu {
    display: none;
  }
}
.hero-menu-list {
  display: flex;
  align-items: center;
  margin-right: 60px;
  @media screen and (max-width: 1339px) {
    display: none;
  }
}

.hero-menu-link {
  color: #b9b9b9;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: #ff6b09;
  }
}
// Секция BACKGROUNG ГЕРОЯ
.hero-bg {
  display: block;
  @media screen and (min-width: 767px) {
    display: flex;
    justify-content: space-between;
  }
}

.hero-title {
  @media screen and (max-width: 767px) {
    width: auto;
  }
  @media screen and (min-width: 768px) and (max-width: 1339px) {
    max-width: 300px;
  }
  @media screen and (min-width: 1339px) {
    width: 609px;
  }
}

.slogan {
  font-weight: 800;
  font-size: 58px;
  line-height: 130%;
  letter-spacing: 0.03em;
  margin: 125px 0 24px;
  @media screen and (min-width: 768px) and (max-width: 1339px) {
    font-size: 26px;
    margin: 70px 0 30px;
  }
  @media screen and (max-width: 767px) {
    font-size: 20px;
    line-height: 27px;
    margin: 50px 0 30px;
  }
}

.hero-img {
  @media screen and (max-width: 767px) {
    width: 208px;
    margin: 0 auto 77px;
  }
  @media screen and (min-width: 768px) and (max-width: 1339px) {
    width: auto;
    margin-top: 83px;
  }
  @media screen and (min-width: 1339px) {
    width: 711px;
    margin-top: 38px;
  }
}

.hero-descript {
  font-size: 20px;
  line-height: 164.9%;
  letter-spacing: 0.08em;
  @media screen and (max-width: 1339px) {
    font-size: 14px;
    line-height: 22px;
    margin: 0 0 30px;
  }
  @media screen and (min-width: 1340px) {
    margin-bottom: 40px;
  }
}

.descript {
  font-weight: 500;
  color: #b9b9b9;
}

.descript-orange {
  color: #ff6b09;
}

.hero-bg-link {
  display: block;
  text-align: center;
  border: 0;
  background-color: #ff6b09;
  border: 2px solid transparent;
  font-size: 14px;
  line-height: 70px;
  color: #fff;
  text-transform: uppercase;
  padding: 0;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #fff;
    color: #ff6b09;
    border: 2px solid #ff6b09;
  }
  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
    font-size: 12px;
    line-height: 48px;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 768px) and (max-width: 1339px) {
    width: 260px;
    font-size: 12px;
    line-height: 48px;
    margin-bottom: 142px;
  }
  @media screen and (min-width: 1340px) {
    margin-bottom: 241px;
  }
}

// Секция МЕТОДИКИ
.hero-program {
  display: flex;
  justify-content: space-between;
  padding: 0px;
  @media screen and (max-width: 767px) {
    display: block;
    padding: 0 33px;
  }
}

.hero-program-item {
  display: flex;
  align-items: center;
  position: relative;
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

.hero-program-img {
  position: absolute;
  @media screen and (max-width: 1339px) {
    width: 59px;
  }
}

.hero-program-title {
  width: 300px;
  font-weight: bold;
  font-size: 20px;
  line-height: 164.9%;
  margin-left: 82px;
  @media screen and (max-width: 1339px) {
    width: 146px;
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 0 68px;
  }
}
// МЕНЮ
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 21, 24, 0.9);
  z-index: 100;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.3s linear;
  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.menu {
  position: relative;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: 767px) {
    width: 300px;
    padding-top: 30px;
  }
  @media screen and (min-width: 768px) {
    width: 710px;
    padding-top: 40px;
  }
}

.menu-top {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.close {
  position: absolute;
  padding-left: 0;
  padding-right: 0;
  border: none;
  background-color: transparent;
  @media screen and (max-width: 767px) {
    top: 9px;
    right: 0px;
  }
  @media screen and (min-width: 768px) {
    top: 13px;
    right: 0px;
  }
}

.modal-logo {
  @media screen and (min-width: 768px) {
    margin-top: 2px;
  }
}

.menu-list {
  margin: 0 auto 0;
  @media screen and (max-width: 767px) {
    padding-top: 50px;
    width: 250px;
  }
  @media screen and (min-width: 768px) {
    padding-top: 72px;
    width: 324px;
  }
}

.menu-item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 35px;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 28px;
  }
}

.menu-link {
  font-weight: 800;
  letter-spacing: 0.03em;
  color: #fff;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (max-width: 767px) {
    font-size: 20px;
  }
  @media screen and (min-width: 768px) {
    font-size: 26px;
  }
  &:hover,
  &:focus {
    color: #ff6b09;
  }
}

.menu-cons {
  display: block;
  border: 2px solid #ff6b09;
  width: 258px;
  margin: 50px auto 0;
  font-weight: 700;
  font-size: 12px;
  line-height: 45px;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #ff6b09;
  background-color: transparent;
  &:hover,
  &:focus {
    background-color: #ff6b09;
    color: #fff;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}
